#popup {
    body {
        background-color: #fff;
        width: 190px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: .7em;
        font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background: #111111;
        }
    }
    
    #onOff {
        cursor: pointer;
        transition: all .07s ease-in;

        &:hover {
            transform: scale(1.03);
        }

        &:active {
            transform: scale(.98);
        }

        &.disabled {
            filter: grayscale(1);
        }

        img {
            width: 100%;
            display: block;
        }
    }

    #signature {
        margin-top: 3em;
        font-size: .8em;
        line-height: 1.5em;
        color: #111;

        a {
            color: #111;
        }

        @media (prefers-color-scheme: dark) {
            background: #111111;
            color: #D1D1D1; 

            a {
                color: #D1D1D1;
            }
        }
    }
}

body.unminus {
    .vZKGD, .unsplashPlus {
        display: none;
    }

    // separated value because otherwise it breaks Firefox
    figure[itemprop="image"]:has(.fMu6u) {
        display: none;
    }
}