div[role='presentation'].RnEpo, .tHaIX {
    display: none;
    height: 0px!important;
    width: 0px!important;
}

body {
    overflow: auto!important;
}

._9AhH0, .Ln-UN, .qn-0x {
    pointer-events: none;
}